.board{
    /* background: orange; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    
}


.game-box{
    height: 160px;
    /* width: 160px; */
    background: white;
    color: black;
    font-size: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

.game-box:hover{
    background: hsla(0, 0%, 0%, 0.097);
}